<!DOCTYPE html>


<html>

<head>
  <meta charset="utf-8">
  <title>
    umbrella_app
  </title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body>

  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <div class="card-body">
        <h3 class="mb-2 bg-primary text-white h-25 p-3 text-center">
          do you I need to pack an umbrella or a pullover?
        </h3>

        <div class="container">
          <div class="d-flex flex-column justify-content-center ">



            <div class="card m-3 p-3" style="width: ; height: auto;">

              <div class="card-body">

                <form method="POST">
                  {% csrf_token %}
                  <div class="field has-addons">
                    <div class="m-3">
                      {{ form.where_you_wanna_go }}
                    </div>
                    <div class="m-3 ">
                      {{ form.number_of_days }}
                    </div>

                    <button type="submit" class="btn btn-primary m-3 p-3">
                      get the answer
                    </button>

                  </div>
                </form>
              </div>
            </div>

            {% if error %}
            <div class="card m-3" style="width: 18rem; height: auto;">
              <div class="card-body">
                <h2 class="card-title"> Error: </h2>
                <p> {{ error }}</p>
              </div>
            </div>
            {% endif %}


            {% if temperature is not None %}
            <div class="d-flex align-content-center flex-wrap">


              <div class="card m-3" style="width: 18rem; height: auto;">
                <div class="card-body">

                  <h2 class="card-title">Current Weather</h2>

                  <img src=" {{ icon }} " alt="{{ icon }}">
                  <p>Temperature (actual): {{ temperature }}°C</p>
                  <p>Temperature (felt): {{ temperature_felt }}°C </p>

                </div>
              </div>

              {% if umbrella_necessary %}
              <div class="card m-3" style="width: 25rem; height: auto;">
                <div class="card-body">
                  <h2>Better bring an umbrella!</h2>
                  <div class="box">
                    because on the following days the probability for rain is higher than 50 %:
                    <table class="table">
                      <thead>
                        <th scope="col">Date</th>
                        <th scope="col">Probability</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for day in umbrella_days%}
                        <tr>
                          <td>{{ day.0 }}</td>
                          <td>{{ day.1 }} %</td>
                        </tr>

                        {% endfor%}
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
              {% else %}
              <div class="card m-3" style="width: 18rem; height: auto;">
                <div class="card-body">
                  <h2>No need for an umbrella!</h2>
                </div>
              </div>
              {% endif %}

              {% if pullover_necessary %}
              <div class="card m-3" style="width: 25rem; height: auto;">
                <div class="card-body">
                  <h2>Better bring an pullover!</h2>
                  <div class="box">
                    because on the following days minimum temperature is lower than 15°C:
                    <table class="table">
                      <thead>
                        <th scope="col">Date</th>
                        <th scope="col">min. Temperature</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for day in pullover_days%}
                        <tr>
                          <td>{{ day.0 }}</td>
                          <td>{{ day.1 }} °C</td>
                        </tr>

                        {% endfor%}
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
              {% else %}
              <div class="card m-3" style="width: auto; height: auto;">
                <div class="card-body">
                  <h2>No need for a pullover!</h2>
                </div>
              </div>
              {% endif %}

            </div>
            {% endif %}






          </div>
        </div>

      </div>
    </div>
  </div>


</body>

</html>